@font-face {
    font-family: sitkaSmall;
    src: url('../font/sitkaI.ttc') format('truetype');
}

footer {
    display: none;
    background-color:#464646;
    width:100%;
    bottom: 0;
    height:90px;
    position: fixed;
    bottom: 0;
    justify-content: center;
    
}

footer .f1 {
    /* background-color: red; */
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
}

footer .f2 {
    /* background-color: orange; */
    position: absolute;
    left: 25%;
    width: 50%;
    height: 90px;
}


footer .f3 {
    /* background-color: green; */
    position: absolute;
    left: 75%;
    width: 25%;
    height: 90px;
}

#social {
    /* background-color: green; */
    display: flex;
    left: 10%;
    bottom: -15;
    position: absolute;
}


#copyrightFooter {
    display: flex;
    position:absolute;
    font-family: sitkaSmall;
    font-size: 10pt;
    color:#AAAAAA;
    align-self: center;
    margin-left:20px;
    left: 0;
    bottom: 20;
}

ul {
    list-style:none;
}

#coffeeIcon {
    width: 48px;
    height: 48px;
    position: absolute;
    margin-top:20px;
    align-self: flex-start;
    left:50%;
}

#contacts {
    display: flex;
    position: absolute;
    font-family: sitkaSmall;
    font-size: 8pt;
    color:#AAAAAA;
    align-self:center;
    margin-right: 20px;
    right: 0;
}

.contactItem {
    padding-bottom:1px;
}