@font-face {
    font-family: sitkaSmall;
    src: url('../font/sitkaI.ttc') format('truetype');
}

body {
    margin: 0px;
    background-color: white;
    color:white;
}

header {
    background-color: #464646;
    width: 100%;
    height: 100px;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    border: none;
}


.flex-container {
    display: flex;
    flex-wrap:unset;
}

.menuItem {
    display: flex;
    flex: 1 1;
    font-family:sitkaSmall;
    font-size:16pt;
    color:white;
    position: relative;
    height:100px;
    bottom:99px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}

#authSection {
    display: flex;
    top: 0;
    right: 0;
    margin-left:100px;
    height:120px;
}

.authItem {
    display: flex;
    flex: 1 1;
    font-family:sitkaSmall;
    font-size:10pt;
    color:white;
    position: relative;
    height:40px;
    bottom:99px;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    cursor: pointer;
}

#authSection>a {
    color:white;
}

#submenu {
    display: flex;
    width:100%; 
    height:40px;
    position: absolute;
    top:100;
    background-color:red;
}

.submenuItem {
    display: flex;
    flex: 1 1;
    font-family:sitkaSmall;
    background-color: #464646;
}

#btnOverview {
    margin-left:400px;
}

#btnLogin {
    width: 40px;
}

#imgOverview {
    width:34px;
    height:24px;
}


.menuItem:hover {
    background-color:#595959;
}

#logo {
    margin-left: 30px;
    max-width:70%;
    height:auto;
}


@media screen and (max-width: 1024px) {
    .flex-container {
        flex-direction: column;
    }
}