#modal{
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    /* background-color: rgba(0,0,0,.8); */
}

#modal:target{
    display: block;
}

.userBox {
    width: 400px;
    height: 650px;
    left: -150px;
    margin-left: 50%;
    position: absolute;
    background-color: rgba(46,46,46, .9);
    top: -100px;
    border-radius: 5px;
    border:#595959;
    color:white;
}

.categoryBox {
    width: 800px;
    height: auto;
    left: -350px;
    right:-800px;
    margin-left: 50%;
    position: absolute;
    background-color: rgba(46,46,46, .9);
    top: -300px;
    border-radius: 5px;
    border:#595959;
    color:white;
    overflow-y: hidden;
}

.messageBox {
    width: 400px;
    height: 220px;
    left: -150px;
    margin-left: 50%;
    position: absolute;
    background-color: rgba(46,46,46, .9);
    top: -100px;
    border-radius: 5px;
    border:#595959;
    color:white;
}

.receiptBox {
    width: 400px;
    height: auto;
    left: -150px;
    margin-left: 50%;
    padding-bottom: 20px;
    position: absolute;
    background-color: rgba(46,46,46, .9);
    top: 10px;
    border-radius: 5px;
    border:#595959;
    color:white;
}

#modal:target ~ .userBox {
    transition: all .8s;
    top: 50px;
}

#modal:target ~ .productBox {
    transition: all .8s;
    top: 50px;
}

#modal:target ~ .categoryBox {
    transition: all .8s;
    top: 120px;
    right:100px;
}

#modal:target ~ .messageBox {
    transition: all .8s;
    top: 50px;
}

.in {
    border-radius: 5px;
    background-color: #303030;
    color: white;
    border-color: #595959;
    border: 0;
    font-family: sitkaSmall;
    font-size: 12pt;
    text-align: center;
}

.in:read-only {
    color: grey;
}

.productBox {
    width: 400px;
    height: 450px;
    left: -150px;
    margin-left: 50%;
    position: absolute;
    background-color: rgba(46,46,46, .9);
    top: 0px;
    border-radius: 5px;
    border:#595959;
    color:white;
}