@font-face {
    font-family: sitkaSmall;
    src: url('../font/sitkaI.ttc') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

header {
    background-color: #464646;
    width: auto;
    height: 100px;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    border: none;
}

.fas {
    cursor: pointer;
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap:unset;
    /* margin-left: 50vh; */
}

/* Menu */
.menuItem {
    display: flex;
    flex: 1 1;
    font-family:sitkaSmall;
    font-size:16pt;
    color:white;
    position: relative;
    height:100px;
    bottom:99px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}

.customerMenuItem,
.adminMenuItem {
    display: flex;
    /* flex: 1 1; */
    font-family:sitkaSmall;
    font-size:16pt;
    color:white;
    position: relative;
    height:100px;
    bottom:100px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-bottom:-100px;
    cursor: pointer;
}

.customerMenuItem:hover,
.adminMenuItem:hover {
    background-color:#595959;
}

.adminItemIcon {
    width:32px;
    height:auto;
    margin-right:10px;
}

.imgCustomerIcon {
    width:37px;
    height:32px;
}

/* Auth */
.authSection {
    /* display: flex;
    flex-wrap: wrap; */
    background-color:rgba(46,46,46,.8);
    border-radius:10px;
    top: 10;
    right: 10;
    position: absolute;
    width: 200px;
    height: 80px;
}

.authItem {
    color: white;
    font-family:sitkaSmall;
    font-size:10pt;
    width: 100px;
    height: auto;
    background-color: rgba(10,10,10, .4);
    justify-content: center;
    position: relative;
    display: flex;
    flex: 1 1;
}

.authIcon {
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    width:50px;
    height:50px;
    border-radius:50px;
}

.authUsername {
    position: absolute;
    margin-top: -35px;
    margin-left: 80px;
    width: auto;
    padding: 5px 15px 5px 15px;
    border-radius:10px;
    background-color: transparent;
}

.authLogout {
    position: absolute;
    right:6;
    background-color:rgba(10,10,10,.4);
    padding: 5px 10px 5px 10px;
    margin-top:-10px;
    width:70px;
    height:auto;
    border-radius:10px;
    font-family:sitkaSmall;
    font-size:10pt;
    color:white;

}

.fa-sign-out-alt {
    padding-left:5px;
}
/* End Auth */

/* End Menu */

/* Tables */
#usersTable,
#productsTable {
    background-color:rgba(0, 0, 0, .8);
    border-radius:8px;
    color: white;
    font-family:sitkaSmall;
    font-size:10pt;
    margin-top: 100px;
    padding: 10px 10px 10px 10px;
    border-spacing: 50px 0;
}

#usersTable {
    padding: 0 15px 5px;
}

#productsTable td {
    padding: 0px 5px 0px;
}

.tableText {
    color:white;
}

/* End Tables */

/* Admin Title Category Items */
.adminCategory {
    color: white;
    font-family:sitkaSmall;
    font-size:16pt;
    background-color:rgba(46,46,46,.8);
    width:300px;
    border-radius:25px;
    margin-top:10px;
}

.adminCategoryImg {
    width:42px;
    height:auto;
    margin-left:1vh;
    padding-top:5px;
    padding-bottom:5px;
}

/* End Admin Title Category Items  */


.userDashboardAction {
    color: white;
}